
/* 
    Created on : Oct 16, 2015, 10:21:24 AM
    Author     : Daniel
*/

head, body{
    margin: 0;
    padding: 0
}

div.row{
    margin: 10px 0;
}

.panel_gris{
    background: gray;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
}

.panel_red{
    background: red;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
}

.panel_white{
    background: white;
    border-radius: 5px;
    color: gray;
    padding: 5px 10px;
    border: 1px solid orangered;
}

