html,body{
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 12px;
}
header{
    width: 98%;
    text-align: center;
    padding: 5% 0.5%;
    background: linear-gradient( 45deg, #FFD941, #FF4024 );
    font-weight: 700;
    color: white;
    font-size: 2em;
    margin: 0.5%;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #ccc;
    box-shadow: 1px 1px 10px #ccc;
}
table{
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
}
input{
    padding: 5px;
    border: none;
    border-radius: 5px;
}
input[type=submit]{
    background: #7A30FF;
    color: white;
    font-weight: 400;
    width: 50%;
}
input[type=submit]:hover{
    width: 55%;
    font-weight: 700;
    transform: rotate(2deg);
}
nav{
    clear: both;
    overflow: hidden;
    background: #FF4024;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li{
    background: #E8A45C;
    margin: 0.2%;
    float: left;
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #ccc;
}
nav ul li:hover{
    transform: rotate(2deg);
    transition: 1s;
    background: #7A30FF;
}
article{
    float: right;
    background: #E815CC;
    padding: 1%;
    text-align: center;
    border-radius: 5px;
    width: 67%;
    margin: 5px 0 5px 1%;
    
    color: white;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #ccc;
}
aside{
    float: left;
    background: #7A30FF;
    padding: 1%;
    text-align: center;
    border-radius: 5px;
    width: 28%;
    margin: 5px 0;
    
    color: white;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #ccc;
}
footer{
    clear: both;
    background: #FF4024;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    
    color: white;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #ccc;
}
.cont {
    background-color: yellow;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    margin: 10px;
}
.amarillo{
    background: yellowgreen;
}
.rojo{
    background: red;
}

.window{
    position: absolute;
    background: #FFD941;
    padding: 1%;
    text-align: center;
    border-radius: 5px;
    width: 40%;
    height: 40%;
    
    top: 30%;
    left: 30%;
    
    color: black;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #ccc;
    
    box-shadow: 2px 2px 5px gray;
    border: solid 2px white;
}
.window .close{
    position: absolute;
    right: -3%;
    top: -3%;
    background: #7A30FF;
    border: solid 2px white;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    color: white;
    line-height: 20px;
    vertical-align: middle;
    font-size: 0.8em;
    cursor: pointer;
}