#mainNav{
    background: rgba(0,0,0,0.8);
    color: #CCC;
    border-bottom: none;
}
.mega {
    font-size: 6rem;
    line-height: 1;
}
.site__title {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}