/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/10/2015, 15:47:10
    Author     : CEDECON
*/

html, body{
    margin: 0;
    padding: 0;
}

.blue{
    width: 100px;
    height: 100px;
    background: blue;
    margin: 5px;
}

.red{
    width: 100px;
    height: 100px;
    background: red;
    margin: 5px;
}

input{
    background: darkgreen;
    border: none;
    color: white;
    padding: 5px;
}

td{
    border: 1px solid black;
}

.odd{
    background: red;
}